<div class="flex flex-col gap-4 md:gap-5 mt-2">
  <div class="flex flex-wrap gap-2 text-xs items-baseline whitespace-nowrap">
    <span class="mr-1 text-sm">Index of</span>
    <a href="/" class="truncate"><pre>alfred/</pre></a>
    {{CRUMBS}}
  </div>
  <div
    class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-5 text-sm items-end empty:hidden"
  >
    {{PINNED_ARTICLES}}
  </div>
  <div
    class="grid grid-cols-2 md:grid-cols-4 gap-4 md:gap-5 text-sm items-end empty:hidden"
  >
    {{FOLDERS}}
  </div>
  <div
    class="grid grid-cols-2 md:grid-cols-4 gap-4 md:gap-5 text-sm items-end empty:hidden"
  >
    {{ARTICLES}}
  </div>
</div>
