<a
  href="{{ARTICLE_HREF}}"
  class="visited:text-neutral-400 text-[var(--color-primary)] group/pinned relative w-full h-full gap-1.5 justify-end"
>
  <div
    class="isolate w-full h-56 overflow-hidden rounded-md border-[0.5px] border-neutral-200"
  >
    <div
      class="absolute z-10 top-4 left-4 md:top-5 md:left-5 indicator size-1 bg-current rounded-full shrink-0"
    ></div>
    <img
      src="{{ARTICLE_IMAGE}}"
      alt="{{ARTICLE_TITLE}}"
      class="size-full object-cover group-hover/pinned:scale-[101%] transition-all duration-300"
    />
  </div>
  <div
    class="absolute max-w-[calc(75%-0.75rem)] md:max-w-[calc(50%-0.75rem)] left-3 bottom-3 md:left-4 md:bottom-4 bg-black/40 backdrop-blur px-3 py-2 rounded-[0.625rem]"
  >
    <p
      class="group-hover/pinned:font-bold transition-all duration-500 font-semibold uppercase text-xs text-white whitespace-nowrap"
    >
      {{ARTICLE_DESCRIPTION}}
    </p>
    <h2
      class="group-hover/pinned:font-black transition-all duration-500 text-lg/5 md:text-[0.95rem] text-white font-bold tracking-wide line-clamp-2"
    >
      {{ARTICLE_TITLE}}
    </h2>
  </div>
</a>
