<a href="{{DOWNLOAD_BUTTON_SRC}}" download title="{{DOWNLOAD_BUTTON_TITLE}}"
  class="ssg-comp group/download text-neutral-700 border border-neutral-200 rounded-lg px-2 py-1 w-fit hover:font-medium hover:!bg-black ring-inset ring-white ring-[10rem] hover:ring-0 hover:text-white hover:border-transparent transition-all duration-500">
  <span
    class="select-none inline-block -mr-[0.125rem] max-w-0 opacity-0 group-hover/download:mr-0 group-hover/download:pr-[1.25rem] group-hover/download:opacity-100 transition-all duration-500">⤵️</span>{{DOWNLOAD_BUTTON_ALT}}
</a>