<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{PAGE_TITLE}}</title>
  <meta name="description" content="{{DESCRIPTION}}" />
  <link rel="icon" type="image/x-icon" href="/public/favicon.ico" />

  <meta property="og:title" content="{{PAGE_TITLE}}" />
  <meta property="og:description" content="{{DESCRIPTION}}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{URL}}" />
  <!-- <meta property="og:image" content="{{IMAGE}}" /> -->
  <meta property="og:image" content="/public/og-image.png" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="{{PAGE_TITLE}}" />
  <meta name="twitter:description" content="{{DESCRIPTION}}" />
  <!-- <meta name="twitter:image" content="{{IMAGE}}" /> -->
  <meta name="twitter:image" content="/public/og-image.png" />

  <link rel="canonical" href="{{URL}}" />

  <script src="https://cdn.tailwindcss.com"></script>

  <link rel="stylesheet" href="/public/gfm-light.css" />
  <link rel="stylesheet" href="/public/styles.css" />
</head>
