<div class="group/comparison mx-auto mb-6">
<div
  class="relative w-full rounded-lg overflow-hidden select-none pointer-events-none"
>
  <img
    class="block w-full"
    alt="{{IMG_COMPARE_ALT1}}"
    src="{{IMG_COMPARE_SRC1}}"
  />
  <div
    id="overlay"
    class="absolute top-0 left-0 h-full w-1/2 overflow-hidden"
  >
  <img
    class="block size-full object-cover object-left"
    alt="{{IMG_COMPARE_ALT2}}"
    src="{{IMG_COMPARE_SRC2}}"
  />
  </div>
</div>
<input
    type="range"
    min="0"
    max="100"
    value="50"
    class="w-full cursor-grab active:cursor-grabbing [&::-webkit-slider-thumb]:bg-gradient-to-t from-gray-50 to-white [&::-webkit-slider-thumb]:outline [&::-webkit-slider-thumb]:outline-[0.5px] [&::-webkit-slider-thumb]:outline-gray-300 [&::-webkit-slider-thumb]:ring-0 group-hover/comparison:[&::-webkit-slider-thumb]:ring-4 active:[&::-webkit-slider-thumb]:!ring-2 [&::-webkit-slider-thumb]:ring-blue-500 [&::-webkit-slider-thumb]:shadow-md [&::-webkit-slider-thumb]:transition-all [&::-webkit-slider-thumb]:duration-200 [&::-webkit-slider-runnable-track]:shadow-inner [&::-webkit-slider-runnable-track]:ring-[0.5px] [&::-webkit-slider-runnable-track]:ring-gray-100"
    oninput="document.getElementById('overlay').style.width = this.value + '%';"
/>
</div>
