<!DOCTYPE html>
<html lang="en">
{{HEAD}}
<body class="min-h-screen flex flex-col">
  <nav class="pt-1.5 flex flex-wrap justify-between items-center">
    <a
      href="/"
      title="Alfred R. Duarte"
      class="text-[1.65rem]"
    >
      <span class="tracking-[-0.005em]">A</span><span class="tracking-[-0.0175em]">l</span><span
        class="tracking-[-0.05em]">f</span><span class="tracking-[-0.04em]">r</span><span
        class="tracking-[-0.02em]">ed</span>
    </a>
    <div class="flex gap-4 md:text-sm text-neutral-500 tracking-[0.0075em]">
      <a
        href="/design"
        title="Design | Alfred R. Duarte"
        class="hover:text-black hover:font-medium transition-all duration-300"
        >Design</a
      >
      <a
        href="/engineering"
        title="Engineering | Alfred R. Duarte"
        class="hover:text-black hover:font-medium transition-all duration-300"
        >Engineering</a
      >
    </div>
  </nav>
  {{BODY}}
</body>
{{FOOTER}}
</html>
